* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #050404;
}

header .header_wrap {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 667px) {
  header .header_wrap {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 120px;
  }
}

header .header_wrap h1 {
  transition: 0.3s;
  cursor: pointer;
  color: #f9f8f8;
  height: 30px;
  font-weight: bold;
  justify-self: start;
}

header .header_wrap h1:hover {
  transition: 0.5s;
  color: #d63550;
}

header .header_wrap .header_right {
  display: flex;
}

header .header_wrap .header_right label {
  height: 48px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

header .header_wrap .header_right label input {
  height: inherit;
  padding: 0 0 0 4px;
  border-width: 0;
}

header .header_wrap .header_right label button {
  height: inherit;
  background-color: #d63550;
  align-self: center;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #f9f8f8;
  padding: 14.5px 38.5px;
}

header .header_wrap .header_right button {
  background-color: #d63550;
  align-self: center;
  border: none;
  font-size: 16px;
  color: #f9f8f8;
  padding: 14.5px 38.5px;
  cursor: pointer;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.goods-list .goods-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.4s;
  cursor: pointer;
  border-left: 10px solid #d63550;
  border-bottom: 1px solid black;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
}

.goods-list .goods-item:hover {
  transform: scale(1.03);
  border-left: 10px solid black;
  border-bottom: none;
}

.goods-list .goods-item:hover button {
  visibility: visible;
  opacity: 1;
}

.goods-list .goods-item img {
  width: 100%;
}

.goods-list .goods-item h3 {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  margin: 20px 0 15px;
}

.goods-list .goods-item p {
  margin-bottom: 15px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
}

.goods-list .goods-item button {
  width: 100%;
  height: 40px;
  background-color: #d63550;
  border: none;
  font-size: 14px;
  font-weight: 300;
  color: #f9f8f8;
  cursor: pointer;
  margin-top: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity 0.3s linear;
}

span {
  font-size: 40px;
}

.busketLayout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.busketLayout .busket {
  width: 80%;
  height: 80%;
  background-color: white;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: none;
}

.busketLayout .busket_header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: white;
  z-index: 1;
}

.busketLayout .busket_header i {
  font-size: 25px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.busketLayout .busket_header i:hover {
  transition-duration: 0.5s;
  color: #d63550;
}

.busketLayout .busket span {
  padding: 30px 20px;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
}

.busketLayout .busket .busket_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.busketLayout .busket .busket_content .busket-good {
  flex-grow: 1;
  display: flex;
  height: 200px;
  box-shadow: 17px 19px 18px rgba(0, 0, 0, 0.13);
  border-left: 10px solid #d63550;
  transition: 0.4s;
}

.busketLayout .busket .busket_content .busket-good:hover {
  border-left: 10px solid black;
  transition: 0.4s;
}

.busketLayout .busket .busket_content .busket-good img {
  height: inherit;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc {
  padding-left: 31px;
  padding-top: 50px;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc h3 {
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 20px;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc p {
  font-size: 16px;
  line-height: 26px;
  color: #575757;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount {
  margin-top: 20px;
  color: #222222;
  display: flex;
  flex-direction: row;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount p {
  width: 30px;
  text-align: center;
  background-color: white;
  color: #222222;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount button {
  background-color: rgba(0, 0, 0, 0.13);
  color: rgba(34, 34, 34, 0.785);
  width: 20px;
  text-align: center;
  border: none;
  transition-duration: 0.2s;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount button:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount button:first-child:hover {
  color: white;
  transition-duration: 0.5s;
  background-color: #d63550;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount button:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.busketLayout .busket .busket_content .busket-good .busket-good_disc .busket-amount button:last-child:hover {
  color: white;
  transition-duration: 0.5s;
  background-color: #d63550;
}
/*# sourceMappingURL=style.css.map */