* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #050404;

    .header_wrap {
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        @media(max-width:667px) {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: 120px;
        }

        h1 {
            color: #f9f8f8;
            height: 30px;
            font-weight: bold;
            justify-self: start;
        }

        .header_right {
            display: flex;

            label {
                height: 48px;
                display: flex;
                flex-direction: row;

                input {
                    height: inherit;
                    padding: 0 0 0 4px;
                    border-width: 0;
                }

                button {
                    height: inherit;
                    background-color: #d63550;
                    align-self: center;
                    border: none;
                    font-size: 16px;
                    line-height: 19px;
                    color: #f9f8f8;
                    padding: 14.5px 38.5px;
                }

                padding-right: 20px;
            }

            .cart-button {
                background-color: #d63550;
                align-self: center;
                border: none;
                font-size: 16px;
                color: #f9f8f8;
                padding: 14.5px 38.5px;
                cursor: pointer;
            }
        }
    }
}

.goods-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .goods-item {
        position: relative;
        border-left: 10px solid #d63550;
        border-bottom: 3px solid black;
        width: 200px;
        height: 300px;

        & img {
            width: 100%;
        }

        & h3 {
            padding-left: 20px;
            font-size: 18px;
            font-weight: 800;
            color: #000000;
            margin: 20px 0 15px;
        }

        & p {
            margin-bottom: 15px;
            padding-left: 20px;
            font-weight: 300;
            font-size: 14px;
            color: #5D5D5D;
        }
    }
}

span {
    font-size: 40px;

}

.busketLayout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    .busket {
        width: 80%;
        height: 80%;
        background-color: white;
        overflow: auto;
        box-sizing: border-box;
        scrollbar-width: none;

        &_header {
            box-sizing: border-box;
            height: 40px;
            display: flex;
            justify-content: space-between;
            margin: 20px;

            i {
                font-size: 25px;
                cursor: pointer;
                transition-duration: 0.2s;

                &:hover {
                    transition-duration: 0.5s;
                    color: #d63550;

                }
            }
        }

        .busket_content {
            display: flex;
            justify-content: space-between;
            padding: 20px;

            .busket-good {
                flex-grow: 1;
                display: flex;
                height: 200px;
                margin-bottom: 35px;
                box-shadow: 17px 19px 18px rgba(0, 0, 0, 0.13);
                border-left: 10px solid #d63550;
                ;

                &:first-child {
                    margin-right: 20px;
                }

                & img {
                    height: inherit;
                }

                & .busket-good_disc {
                    padding-left: 31px;
                    padding-top: 50px;

                    & h3 {
                        font-size: 20px;
                        line-height: 20px;
                        color: #222222;
                        margin-bottom: 20px;
                    }

                    & p {
                        font-size: 16px;
                        line-height: 26px;
                        color: #575757;
                    }

                    .busket-amount {
                        margin-top: 20px;
                        color: #222222;
                        display: flex;
                        flex-direction: row;

                        & p {
                            width: 30px;
                            text-align: center;
                            background-color: white;
                            color: #222222;

                        }

                        & button {
                            background-color: rgba(0, 0, 0, 0.13);
                            color: rgba(34, 34, 34, 0.785);
                            width: 20px;
                            text-align: center;
                            border: none;
                            transition-duration: 0.2s;

                            &:first-child {
                                border-top-left-radius: 50%;
                                border-bottom-left-radius: 50%;

                                &:hover {
                                    color: white;
                                    transition-duration: 0.5s;
                                    background-color: #d63550;
                                }
                            }

                            &:last-child {
                                border-top-right-radius: 50%;
                                border-bottom-right-radius: 50%;

                                &:hover {
                                    color: white;
                                    transition-duration: 0.5s;
                                    background-color: #d63550;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}